body {
    color:black;
    background-attachment: fixed;
    background-color:white;
    background-image:url(image/fond.jpg);
    min-height: 1000px;
}

h1{
    text-align: center;
    color: rgb(121, 39, 141);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px #183152, 0 0 70px #183152, 0 0 80px #183152,
    0 0 100px #183152, 0 0 150px #183152;
}

label{
  color:	blue;
  text-transform:uppercase;
  float: left;
  margin-left: 10px;
  font-size:25px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
  0 0 40px #183152, 0 0 70px #183152, 0 0 80px #183152,
  0 0 100px #183152, 0 0 150px #183152;
}

#menu{
}

form{
  padding:5px;
  width:680px;
  }



nav {
  height: 100px;
  background-image:url(image/fond.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;

}


#titre{
color:rgb(219, 5, 201);
text-transform:uppercase;
font-size:15px;
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
0 0 40px #183152, 0 0 70px #183152, 0 0 80px #183152,
0 0 100px #183152, 0 0 150px #183152;
}

#titre2{
  color:rgb(219, 5, 201);
  text-transform:uppercase;
  font-size:30px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
  0 0 40px #183152, 0 0 70px #183152, 0 0 80px #183152,
  0 0 100px #183152, 0 0 150px #183152;
  }

  #titre3{
    color:rgb(219, 5, 201);
    text-transform:uppercase;
    font-size:20px;
    margin-right: 120px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px #183152, 0 0 70px #183152, 0 0 80px #183152,
    0 0 100px #183152, 0 0 150px #183152;
    }


#conteneura{
  background-color: rgba(255, 255, 255, 0);
    float: left;
    margin-left: 30px;
    margin-top: 80px;
    width: 900px;
    height: 750px;
}

#conteneurb{
  background-color: rgba(255, 255, 255, 0);
    float: left;
    margin-left: 30px;
    margin-top: 80px;
    width: 900px;
    height: 750px;
}

#bt1{
  float: left;
  margin-top: 100px;
  background-color: rgb(219, 5, 201);
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  font-size: 5px;
  box-shadow: 0 8px 16px 0 rgb(219, 5, 201);
}

#bt2{
  margin-top: -50px;
  transition: .9s;
}

input{
    margin-left: 350px;
    display: inline-block;
    width: 70%;
    border: 2px solid rgb(219, 5, 201);
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}

.label-file {
  cursor: pointer;
  color: #00b1ca;
  font-weight: bold;
}
.label-file:hover {
  color: #25a5c4;
}

.input-file {
  display: none;
}

button {
  float: left;
  margin-top: 100px;
  background-color: rgb(219, 5, 201);
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgb(219, 5, 201);
}


button:hover {
  float: left;
  margin-top: 100px;
  background-color: rgb(151, 1, 139);
  border-radius: 15px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgb(219, 5, 201);
}

#btco{
  margin-top: -80px;
}

p {
    text-align: center;
    font-size: 3em;
    margin: 20px 0 20px 0;
  }
  
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }

  a:hover {
    background-color: rgb(163, 1, 150);
    color: white;
    transition: .5s;
  }

  
  p:nth-child(1) a {
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(1) a:hover {
    color: #FF1177;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
  
  p:nth-child(2) a {
    font-size: 1.5em;
    color: #228DFF;
    font-family: Iceland;
  }
  
  p:nth-child(2) a:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(3) a {
    color: #FFDD1B;
    font-family: Pacifico;
  }
  
  p:nth-child(3) a:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(4) a {
    color: #B6FF00;
    font-family: "Press Start 2P";
    font-size: 0.8em;
  }
  
  p:nth-child(4) a:hover {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(5) a {
    color: #FF9900;
    font-family: Audiowide;
  }
  
  p:nth-child(5) a:hover {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  
  p:nth-child(6) a {
    color: #BA01FF;
    font-family: Vampiro One;
  }
  
  p:nth-child(6) a:hover {
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }
  
  p a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @-webkit-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  
  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  
  @-webkit-keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  
  @-webkit-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow for mozilla*/
  
  @-moz-keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @-moz-keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @-moz-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  
  @-moz-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  
  @-moz-keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  
  @-moz-keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*glow*/
  
  @keyframes neon1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  
  @keyframes neon2 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
  }
  
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFDD1B, 0 0 70px #FFDD1B, 0 0 80px #FFDD1B, 0 0 100px #FFDD1B, 0 0 150px #FFDD1B;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFDD1B, 0 0 35px #FFDD1B, 0 0 40px #FFDD1B, 0 0 50px #FFDD1B, 0 0 75px #FFDD1B;
    }
  }
  
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
    }
  }
  
  @keyframes neon5 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9900, 0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF9900, 0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
    }
  }
  
  @keyframes neon6 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
  }
  /*REEEEEEEEEEESPONSIVE*/
  
  @media (max-width: 650px) {
    #container {
      width: 100%;
    }

    p {
      font-size: 3.5em;
    }

    .containerq{
      float: left;
      margin-left: 250px;
      margin-top: 200px;

    }


    #progress {
      font-size: 1.3rem;
      color: #ffa502;
    }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
  
  .signature {
    display: flex;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: rgba(51, 51, 51, 0.808);
    padding: .5rem .5rem;
    border-radius: 50px;
    box-shadow: 0 0 0px 3px rgb(9,251,186);
    color: rgb(9,251,186);
    font-family: 'Open Sans', sans-serif;
    font-size: .7rem;
    cursor: pointer;
  }
  .signature:hover {
    transform: translateX(3px);
    background: linear-gradient(90deg, rgba(51, 51, 51, 0.808) 30%, rgba(100, 100, 100, 0.808) 100% );
    transition: .3s ease;
    box-shadow: 0 0 0px 3px rgb(79, 250, 204);
    color: rgb(79, 250, 204);
  }
  .signature:focus {
    outline: none;
  }
  .signature .flag {
    height: 13px;
    width: 22px;
    background: linear-gradient(90deg, blue 36%, white 36%, white 67%, red 67%);
    box-shadow: inset 2px 2px 2px #222, 2px 2px 1px #222;
    margin-right: 6px;
    transform: translateY(3px);
  }
  .signature h3 {
    margin: 0;
    color: rgb(9,251,186);
    font-size: 1rem;
  }
  .signature i {
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px #222;
    transform: translateY(2px);
  }