body{
    background-color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    color: orangered;
}

#menu{
    background-color: white;
    height: 180px;
}

#conteneura{
    background-color: powderblue;
    float: left;
    margin-left: 130px;
    margin-top: 80px;
    width: 900px;
    height: 750px;
}

#imgcool{
    margin-top: 450px;
    float: left;
}

#footer{
    width: 250px;
    background-color: rgb(226, 0, 0);
    float: left;
}